body {
    font-family: Arial;
    background: #f2f2f2;
}

form {
    background: white;
    width: 320px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

textarea {
    height: 80px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
