body {
    font-family: Arial;
    background: #f2f2f2;
}

form {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 8px;
}
