body {
    font-family: Arial;
    background: #f4f6f9;
}
form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
a {
    margin-right: 10px;
}
